/* Editor - Scrollbar */

.show-file-icons *::before {
  color: inherit !important;
}

.explorer-item::before {
  font-size: 14px !important;
  top: 2px !important;
  position: relative;
}

.monaco-tree .monaco-tree-rows>.monaco-tree-row {
  /* padding-top: 4px;
  height: 28px !important; */
}

.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .tabs-container {
  height: unset;
}

.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab {
  height: 45px;
}

.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title,
.monaco-workbench>.part>.title {
  height: unset;
}

.monaco-tree .title-actions,
.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .editor-actions {
  display: none;

}

.quick-open-widget {
  background: rgb(23, 22, 21);
  padding: 0;
  box-shadow: 0 2px 1px rgba(0,0,0,0.2) !important;
}

/* .quick-open-widget .monaco-tree {
  display: flex;
  flex-flow: column nowrap;
} */

.quick-open-widget .quick-open-input {
  width: 100% !important;
  margin: 0;
}

.quick-open-widget .monaco-inputbox>.wrapper>.input {
  padding: 20px;
  text-align: center;
}
/*
.quick-open-widget .monaco-tree .monaco-tree-rows>.monaco-tree-row {
    height: 35px !important;
    padding-top: 6px;
 } */


.quick-open-widget .quick-open-input .monaco-inputbox {
  height: 45px;
}

::-webkit-scrollbar,
.scrollbar.vertical {
  width: 2px !important;
}

.decorationsOverviewRuler {
  background-color: #00000044;
  clip: rect(2px, 13px, 1000px, 2px);
  margin-top: -2px;
  height: calc(100% + 4px);
}

/* .quick-open-widget .quick-open-tree {
  min-height: 160px !important;
} */

.quick-open-widget .quick-open-tree .quick-open-entry-description {
  opacity: .5;
}

.monaco-shell .statusbar-item>.dropdown.send-feedback {
  display: none;
}

.editor-status-indentation {
  display: none !important;
}

a[title="Click to run live server"] {
  display: none !important;
}

.part.sidebar.left .title-actions {
  display: none !important;
}

.vs-dark .explorer-folders-view .monaco-tree-row.has-children .content:before,
.explorer-folders-view .monaco-tree-row.has-children .content:before {
  opacity: .4;
}

option {
  color: #333 !important;
}

.monaco-workbench>.activitybar>.content .monaco-action-bar .action-item {
  transform: scale(0.8, 0.8);
}
